.cards-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 1337px;
    border-radius: 15px;
    position: relative;
    top: 10%;
    bottom: 10%;
    left: 32%;
    background-color: #381274;
    margin-top: 3%;
}
